.editor {
  height: calc(100vh - 60px);
  margin-top: 60px;

  > div {
    height: inherit;

    > .CodeMirror {
      height: inherit;
    }
  }
}

.cm-matchhighlight {
  @include themify {
    background: rgba(theme(match-highlight), 0.5);
  }
}

.CodeMirror-foldmarker {
  color: inherit;
  text-shadow: inherit;
}
