.file-tabs-container {
  position: fixed;
  z-index: 100;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 89vw;
    display: inline-flex;
  }

  li {
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    user-select: none;
    border: 1px solid darkgrey;
    border-bottom: 2px solid darkgrey;

    &:last-child {
      margin-right: 10px;
    }

    .close-icon {
      position: fixed;
      font-size: 15px;
      top: 5px;
      display: none;
    }

    @include themify {
      color: theme(primary-text);
      background: theme(file-tab);

      &:hover {
        background: darken(theme(file-tab), 25%);

        .close-icon {
          display: inline;
        }
      }

      &.active {
        background: darken(theme(file-tab), 25%);
      }
    }
  }
}
