.file-tabs-container {
  position: fixed;
  z-index: 100;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 89vw;
    display: inline-flex;
  }

  button {
    width: 10vw;
    margin-right: 1vw;
  }

  li {
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    user-select: none;
    -webkit-user-select: none;

    &:last-child {
      margin-right: 10px;
    }

    @include themify {
      color: theme(primary-text);
      background: theme(file-tab);

      &:hover {
        background: darken(theme(file-tab), 25%);
      }

      &.active {
        background: darken(theme(file-tab), 25%);
      }
    }
  }
}
