.repl-container {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  font-family: monospace, sans-serif;

  .run-stop {
    position: fixed;
    z-index: 200;
    top: 20px;
    right: 0;
    width: 10vw;
    margin-right: 1vw;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;

    &.hide {
      display: none;
    }

    @include themify {
      color: theme(primary-text);
      background: theme(file-tab);

      &:hover {
        background: darken(theme(file-tab), 25%);
      }
    }
  }

  .repl-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.8;
    padding: 50px;
    pointer-events: auto;
    box-sizing: border-box;

    &.hide {
      display: none;
      pointer-events: none;
    }

    .output {
      z-index: 200;
      color: white;
      font-family: monospace;
      width: 100%;
      height: 100%;
    }

    .input {
      outline: none;
    }
  }

  .modal {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px 15px 5px;
    pointer-events: auto;

    &.hide {
      display: none;
      pointer-events: none;
    }

    div:first-child {
      color: white;
      font-size: 0.95rem;
      margin-bottom: 10px;
    }

    button {
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      outline: none;

      @include themify {
        color: theme(primary-text);
        background: theme(file-tab);

        &:hover {
          background: darken(theme(file-tab), 25%);
        }
      }
    }

    button:first-child {
      float: left;
    }

    button:last-child {
      float: right;
    }

    input {
      color: white;
      width: 100%;
      margin-bottom: 15px;
      outline: none;

      @include themify {
        background: theme(file-tab);
        border-color: theme(file-tab);
      }
    }

    @include themify {
      background: theme(file-tab);
    }
  }
}
