.repl-container {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  font-family: "PressStart2P";
  font-size: 0.6rem;

  .compiler-settings {
    position: fixed;
    z-index: 200;
    top: 20px;
    right: 8vw;
    width: 3vw;
    height: 35px;
    padding: 0;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    outline: none;
    user-select: none;

    i {
      font-size: 1.3rem;
    }

    @include themify {
      background: theme(file-tab);

      &:hover {
        background: darken(theme(file-tab), 25%);
      }

      &.modal-open {
        background: darken(theme(file-tab), 25%);
      }
    }
  }

  .run-stop {
    position: fixed;
    z-index: 200;
    top: 20px;
    right: 0;
    width: 6vw;
    margin-right: 1vw;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
    user-select: none;

    &.hide {
      display: none;
    }

    @include themify {
      color: theme(primary-text);
      background: theme(file-tab);

      &:hover {
        background: darken(theme(file-tab), 25%);
      }
    }
  }

  .repl-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.8;
    padding: 50px;
    pointer-events: auto;
    box-sizing: border-box;

    &.hide {
      display: none;
      pointer-events: none;
    }

    .output {
      z-index: 200;
      color: white;
      width: 100%;
      height: 100%;
    }

    .input {
      outline: none;
    }
  }

  .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px 15px 5px;
    pointer-events: auto;
    font-family: "Play";

    &.hide {
      display: none;
      pointer-events: none;
    }

    div:first-child {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 10px;
      user-select: none;
      cursor: default;
      font-weight: bold;
      text-align: center;
    }

    button {
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      outline: none;
      user-select: none;
      font-family: "Play";

      @include themify {
        color: theme(primary-text);
        background: theme(file-tab);

        &:hover {
          background: darken(theme(file-tab), 25%);
        }
      }
    }

    button:first-of-type {
      float: left;
    }

    button:last-of-type {
      float: right;
    }

    label {
      user-select: none;
      font-weight: bold;
      font-size: 1rem;
    }

    input {
      color: white;
      width: 100%;
      margin-bottom: 15px;
      outline: none;
      font-family: "PressStart2P";
      padding: 4px;
      font-size: 0.6rem;
      box-sizing: border-box;

      @include themify {
        background: theme(file-tab);
        border-color: theme(file-tab);
      }
    }

    @include themify {
      background: theme(file-tab);
    }
  }
}
