// Themes
@import "./themes/_variables.scss";
@import "./themes/_themes.scss";
@import "./themes/_themify.scss";

// Base
@import "./base/_reset.scss";
@import "./base/_base.scss";

// Components
@import "./components/_file-tabs.scss";
@import "./components/_editor.scss";

// CodeMirror
@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/addon/dialog/dialog.css";
@import "../../node_modules/codemirror/addon/search/matchesonscrollbar.css";
@import "../../node_modules/codemirror/addon/fold/foldgutter.css";
@import "../../node_modules/codemirror/addon/hint/show-hint.css";
@import "../../node_modules/codemirror/addon/lint/lint.css";
@import "../../node_modules/codemirror/addon/scroll/simplescrollbars.css";

// CodeMirror Themes
@import "../../node_modules/codemirror/theme/abcdef.css";
@import "../../node_modules/codemirror/theme/ambiance.css";
@import "../../node_modules/codemirror/theme/blackboard.css";
@import "../../node_modules/codemirror/theme/dracula.css";
@import "../../node_modules/codemirror/theme/erlang-dark.css";
@import "../../node_modules/codemirror/theme/hopscotch.css";
@import "../../node_modules/codemirror/theme/icecoder.css";
@import "../../node_modules/codemirror/theme/material.css";
@import "../../node_modules/codemirror/theme/mbo.css";
@import "../../node_modules/codemirror/theme/mdn-like.css";
@import "../../node_modules/codemirror/theme/monokai.css";
@import "../../node_modules/codemirror/theme/neo.css";
@import "../../node_modules/codemirror/theme/panda-syntax.css";
@import "../../node_modules/codemirror/theme/paraiso-light.css";
@import "../../node_modules/codemirror/theme/pastel-on-dark.css";
@import "../../node_modules/codemirror/theme/rubyblue.css";
@import "../../node_modules/codemirror/theme/solarized.css";
@import "../../node_modules/codemirror/theme/the-matrix.css";
@import "../../node_modules/codemirror/theme/yeti.css";
