html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: 'Play', sans-serif;
}

#my-video {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100;
  opacity: 0.5;
}

.center-box {
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: 20%;
  margin-bottom: 15px;
}

.downloads-container {
  position: relative;
  width: 60%;
  left: 20%;
  margin-top: 40px;
}

.apple-logo,
.windows-logo {
  position: absolute;
  width: 35%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.apple-logo {
  right: 0;
}

.windows-logo {
  left: 0;
}

#my-canvas {
  position: fixed;
  z-index: 150;
  display: none;
}
